@import url("https://use.typekit.net/rtb8cch.css");
/* --- Web Browser ---*/
    body{
        background-color: rgb(213, 199, 188);
        margin: 0px;
        padding: 0px;
        padding-top: 0px;
        border-left: 7vw;
        border-right: 0vw;
        border-top: 0vw;
        border-bottom: 0vw;
        border-color: rgb(82, 103, 96);
        border-style: solid;
        z-index: 1;
        margin-top: -40px;
    }

    pre{
        display: none;
    }

    p{
        font-size: 1em;
        margin: ;
            margin-left: 350px;
            margin-right: 200px;
    }

    p:nth-of-type(1n + 7){
        font-size: 1em;
        margin: ;
            margin-left: 350px;
            margin-right: 200px;
        background-color: rgb(209, 184, 164);
        margin-top: -16px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    p:nth-of-type(1n + 89){
        font-size: 1em;
        margin: ;
            margin-left: 350px;
            margin-right: 200px;
        background-color: rgb(213, 199, 188);
        font-family: Arial, Helvetica, sans-serif;
    }

    h3{
        font-size: 1em;
        color: black;
        margin: auto;
        margin-top: -100px;
        margin-bottom: 0px;
        text-align: center;
        font-family: whitman-display, serif;
        font-weight: 400;
        font-style: normal;
    }

    h3:nth-of-type(1n + 2){
        font-size: 2em;
        margin-top: 0px;
        font-family: whitman-display, serif;
        font-weight: 400;
        font-style: normal;

    }

    h3:nth-of-type(1n + 4){
        font-size: 2.5em;
        margin-top: 100px;
        margin-bottom: 0px;
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal; 
    }

    h3:nth-of-type(1n + 5){
        color: rgb(82, 103, 96);
        font-size: 2em;
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
        font-family: whitman-display, serif;
        font-weight: 400;
        font-style: normal;
    }

    h1{
        font-size: 12em;
        text-align: center;
        color: rgb(82, 103, 96);
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal;
    }
    table {
        text-align: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        display: block;
    }

    tbody{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
        grid-column-gap: 2em;
        grid-row-gap: 10px;
        margin: auto;
        margin-left: 18vw;
    }



/* --- Tablet --- */
@media only screen and (min-width: 800px) and (max-width: 1280px){
    body{
        background-color: rgb(213, 199, 188);
        margin: 0px;
        padding: 0px;
        padding-top: 0px;
        border-left: 7vw;
        border-right: 0vw;
        border-top: 0vw;
        border-bottom: 0vw;
        border-color: rgb(82, 103, 96);
        border-style: solid;
        z-index: 1;
        margin-top: -40px;
    }

    pre{
        display: none;
    }
    p{
        font-size: 1em;
        margin: ;
            margin-left: 350px;
            margin-right: 80px;
    }

    h1{
        font-size: 8.5em;
        text-align: center;
        color: rgb(82, 103, 96);
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 100px;
    }

    h3{
        text-align: center;
        font-size: 2em;
        font-family: whitman-display, serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 50px;
    }

    h3:nth-of-type(1n + 2){
        text-align: center;
        font-size: 3em;
        margin-top: -40px;
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal;
    }

    h3:nth-of-type(1n + 4){
        text-align: center;
        font-size: 3em;
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal;
        margin-top: 100px;
        margin-bottom: 0px;
    }

    h3:nth-of-type(1n + 5){
        text-align: left;
        font-size: 3em;
        color: rgb(82, 103, 96);
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal;
        padding-top: 50px;
        margin-top: 100px;
        margin-bottom: -175px;
        margin-left: 80px;
        transform-origin: bottom left;
        transform: rotate(-90deg);
    }

    h3:nth-of-type(1n + 6){
        text-align: left;
        font-size: 3em;
        color: rgb(82, 103, 96);
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal;
        margin-top: 100px;
        margin-bottom: -225px;
        margin-left: 80px;
        transform-origin: bottom left;
        transform: rotate(-90deg); 
    }

    p:nth-of-type(1n + 7){
        font-size: .9em;
        margin: ;
            margin-left: 150px;
            margin-right: 100px;
        background-color: rgb(209, 184, 164);
        margin-top: -16px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    p:nth-of-type(1n + 89){
        font-size: .9em;
        margin: ;
            margin-left: 150px;
            margin-right: 100px;
        background-color: rgb(213, 199, 188);
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        margin: auto;
        text-align: center;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

    tbody{
        display: block;
        margin-left: 42vw;
    }


}

/* --- Smart Phone --- */
@media only screen and (max-width: 800px){
    body{
        background-color: rgb(213, 199, 188);
        margin: 0;
        padding: 0;
        border-top: 10vh;
        border-left: 0vw;
        border-right: 0vw;
        border-color: rgb(82, 103, 96);
        border-style: solid;
    }

    pre{
        display: none;
    }


    p{
        font-size: 1em;
        margin: ;
            margin-left: 100px;
            margin-right: 50px;
    }

    h1{
        font-size: 5.7em;
        text-align: center;
        color: rgb(82, 103, 96);
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 100px;
        margin-top: -40px;
    }

    h3{
        text-align: center;
        font-size: 1em;
        font-family: whitman-display, serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 50px;
    }

    h3:nth-of-type(1n + 2){
        text-align: center;
        font-size: 2em;
        margin-top: -40px;
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal;
    }

    h3:nth-of-type(1n + 4){
        text-align: left;
        font-size: 3em;
        font-family: whitman-display, serif;
        font-weight: 700;
        font-style: normal;
        margin-top: 50px;
        margin-bottom: 0px;
        margin-left: 3vw;
}

h3:nth-of-type(1n + 5){
    text-align: left;
    font-size: 2em;
    color: rgb(82, 103, 96);
    font-family: whitman-display, serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: -110px;
    margin-left: 10vw;
    transform-origin: bottom left;
    transform: rotate(-90deg);
}

h3:nth-of-type(1n + 9){
    text-align: left;
    font-size: 2em;
    color: rgb(82, 103, 96);
    font-family: whitman-display, serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 100px;
    margin-bottom: -110px;
    margin-left: 10vw;
    transform-origin: bottom left;
    transform: rotate(-90deg); 
}

p:nth-of-type(1n + 7){
    font-size: .9em;
    margin: ;
        margin-left: 80px;
        margin-right: 50px;
    background-color: rgb(209, 184, 164);
    margin-top: -16px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

p:nth-of-type(1n + 89){
    font-size: .9em;
    margin: ;
        margin-left: 80px;
        margin-right: 50px;
    background-color: rgb(213, 199, 188);
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

tbody{
    display: block;
    margin-left: 3vw;
}
